section.collection 
    .collection__title-line 
        h2.collection__title коллекция
    p.colletion__about.
        В музее представлена потрясающая коллекция ретро игровых
        приставок и винтажных компьютеров. Главная особенность музея
        — все консоли в рабочем состоянии! Абсолютно во все можно
        поиграть!
    a(class="collection__link link", href="#") Перейти к коллекции

