footer.main-footer
    section.socials 
        h2.socials__title Наши соц-сети
        ul.socials-list
            li.socials-list__item
                a(class="instagram link", href="https://www.instagram.com/bitipixel/") instagram 
            li.socials-list__item
                a(class="vkontakte link", href="https://vk.com/bitipixel39") vkontakte
            li.socials-list__item
                a(class="youtube link", href="https://www.youtube.com/channel/UCPLW5SdYEU3WHhQnYM9CYZg") youtube 