header.main-header 
    a(class= "main-header__link", href="/")
        h1.main-header__title BitiPixel 
    nav.main-header__nav 
        ul.nav-list
            li.nav-list__item: a.link(href="/") главная
            li.nav-list__item: a.link(href="collection.html") коллекция 
            li.nav-list__item: a.link(href="#contacts") контакты
                
