section.hero 
    h2.hero__title Музей компьютерных игр
    video(class="hero__video",
            src="images/hero-video.webm",
            width="100%",
            height="auto",
            autoplay,
            loop,
            muted,
            preload="auto")
    